.version.index /* version checker */
{
	color: #000000;
	background-color: #B339B9;
}

#page
{
	z-index: 1;
	min-height: 577px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #F7CECC;
	padding-bottom: 211px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu107
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 34px;
	width: 20.32%;
	margin-left: 3.13%;
}

#u107
{
	z-index: 2;
	position: relative;
	width: 78.98%;
	margin-left: 10.26%;
}

#u117-4
{
	z-index: 4;
	min-height: 19px;
	margin-top: 8px;
	position: relative;
	width: 100%;
}

#menuu498
{
	z-index: 51;
	margin-top: 35px;
	position: relative;
	width: 72.83%;
	margin-left: 10.26%;
}

#u520
{
	position: relative;
	width: 100%;
}

#u521
{
	padding-bottom: 44px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u521:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u521:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u522-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	width: 100%;
}

#u521:hover #u522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u521:active #u522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u507
{
	padding-bottom: 44px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u521.MuseMenuActive,#u507:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u507:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u509-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	width: 100%;
}

#u521.MuseMenuActive #u522-4,#u507:hover #u509-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u507:active #u509-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u516
{
	padding-bottom: 43px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u507.MuseMenuActive,#u516:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u516:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u519-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
	width: 100%;
}

#u507.MuseMenuActive #u509-4,#u516:hover #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u516:active #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u500
{
	padding-bottom: 43px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u516.MuseMenuActive,#u500:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u500:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u502-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
	width: 100%;
}

#u516.MuseMenuActive #u519-4,#u500:hover #u502-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u500:active #u502-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u588
{
	padding-bottom: 43px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u500.MuseMenuActive,#u588:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u588:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u591-6
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
	width: 100%;
}

#u588:hover #u591-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u588:active #u591-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u588.MuseMenuActive #u591-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u506,#u513,#u499,#u585,#u606
{
	margin-top: 2px;
	position: relative;
	width: 100%;
}

#u609
{
	padding-bottom: 43px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u588.MuseMenuActive,#u609:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u609:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u609.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u612-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
	width: 100%;
}

#u500.MuseMenuActive #u502-4,#u609:hover #u612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u609:active #u612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u609.MuseMenuActive #u612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#pmenuu124
{
	margin-right: -10000px;
	margin-top: 39px;
	width: 49.17%;
	margin-left: 25.32%;
}

#menuu124
{
	z-index: 8;
	width: 460px;
	position: relative;
	margin-left: 2.55%;
}

#u125
{
	width: 75px;
	min-height: 76px;
	position: relative;
	margin-right: -10000px;
}

#u126
{
	width: 75px;
	padding-bottom: 57px;
	position: relative;
}

#u126:hover
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u126:active
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u126.MuseMenuActive
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u129-4
{
	width: 55px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 28px;
	left: 10px;
}

#u126:hover #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u126:active #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u126.MuseMenuActive #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u170
{
	width: 108px;
	min-height: 76px;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u171
{
	width: 108px;
	padding-bottom: 57px;
	position: relative;
}

#u171:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u171:active
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u171.MuseMenuActive
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u172-4
{
	width: 88px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 28px;
	left: 10px;
}

#u171:hover #u172-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u171:active #u172-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u171.MuseMenuActive #u172-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u191
{
	width: 110px;
	min-height: 76px;
	position: relative;
	margin-right: -10000px;
	left: 187px;
}

#u194
{
	width: 110px;
	padding-bottom: 57px;
	position: relative;
}

#u194:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u194:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u194.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u196-4
{
	width: 91px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 28px;
	left: 9px;
}

#u194:hover #u196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u194:active #u196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u194.MuseMenuActive #u196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u212
{
	width: 161px;
	min-height: 76px;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u215
{
	width: 161px;
	padding-bottom: 57px;
	position: relative;
}

#u215:hover
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u215:active
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u215.MuseMenuActive
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u218-4
{
	width: 142px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 28px;
	left: 9px;
}

#u215:hover #u218-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u215:active #u218-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u215.MuseMenuActive #u218-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#pu684
{
	margin-top: 67px;
	width: 88.78%;
}

#u684
{
	z-index: 90;
	position: relative;
	margin-right: -10000px;
	width: 42.96%;
}

#u703
{
	z-index: 92;
	position: relative;
	margin-right: -10000px;
	width: 42.49%;
	left: 57.52%;
}

#pu783-9
{
	margin-top: 1px;
	width: 88.78%;
}

#u783-9
{
	z-index: 102;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 42.96%;
}

#u789-9
{
	z-index: 120;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 42.49%;
	left: 57.52%;
}

#buttonu1750
{
	z-index: 176;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	width: 27.2%;
}

#buttonu1750:hover
{
	min-height: 0px;
	width: 27.2%;
	margin: 0px -10000px 0px 0%;
}

#buttonu1750:active
{
	min-height: 0px;
	width: 27.2%;
	margin: 0px -10000px 0px 0%;
}

#u1751-4
{
	z-index: 177;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 86.67%;
	left: 6.67%;
}

#buttonu1750:hover #u1751-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 86.67%;
	margin: 6px -10000px 0px 0%;
}

#buttonu1750:active #u1751-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 86.67%;
	margin: 6px -10000px 0px 0%;
}

#buttonu1744
{
	z-index: 171;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	width: 27.2%;
	left: 72.81%;
}

#buttonu1750.ButtonSelected,#buttonu1744:hover
{
	min-height: 0px;
	width: 27.2%;
	margin: 0px -10000px 0px 0%;
}

#buttonu1744:active
{
	min-height: 0px;
	width: 27.2%;
	margin: 0px -10000px 0px 0%;
}

#u1745-4
{
	z-index: 172;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 86.67%;
	left: 6.67%;
}

#buttonu1744:hover #u1745-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 86.67%;
	margin: 6px -10000px 0px 0%;
}

#buttonu1744:active #u1745-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 86.67%;
	margin: 6px -10000px 0px 0%;
}

#pu713
{
	margin-top: 26px;
	width: 88.78%;
}

#u713
{
	z-index: 94;
	position: relative;
	margin-right: -10000px;
	width: 42.96%;
}

#u726
{
	z-index: 96;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 42.25%;
	left: 57.76%;
}

#pu786-9
{
	margin-top: -1px;
	width: 88.78%;
}

#u786-9
{
	z-index: 111;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 42.96%;
}

#u795-9
{
	z-index: 138;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 42.49%;
	left: 57.52%;
}

#pbuttonu1750,#pbuttonu1756
{
	width: 70.13%;
	margin-left: 9.54%;
}

#buttonu1756
{
	z-index: 181;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 27.2%;
}

#buttonu1756:hover
{
	min-height: 0px;
	width: 27.2%;
	margin: 1px -10000px 0px 0%;
}

#buttonu1756:active
{
	min-height: 0px;
	width: 27.2%;
	margin: 1px -10000px 0px 0%;
}

#buttonu1756.ButtonSelected
{
	min-height: 0px;
	width: 27.2%;
	margin: 1px -10000px 0px 0%;
}

#u1757-4
{
	z-index: 182;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 86.67%;
	left: 6.67%;
}

#buttonu1756:hover #u1757-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 86.67%;
	margin: 6px -10000px 0px 0%;
}

#buttonu1756:active #u1757-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 86.67%;
	margin: 6px -10000px 0px 0%;
}

#buttonu1720
{
	z-index: 156;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	width: 27.2%;
	left: 72.81%;
}

#buttonu1744.ButtonSelected,#buttonu1720:hover
{
	min-height: 0px;
	width: 27.2%;
	margin: 0px -10000px 0px 0%;
}

#buttonu1720:active
{
	min-height: 0px;
	width: 27.2%;
	margin: 0px -10000px 0px 0%;
}

#buttonu1720.ButtonSelected
{
	min-height: 0px;
	width: 27.2%;
	margin: 0px -10000px 0px 0%;
}

#u1721-4
{
	z-index: 157;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 86.67%;
	left: 6.67%;
}

#buttonu1720:hover #u1721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 86.67%;
	margin: 6px -10000px 0px 0%;
}

#buttonu1720:active #u1721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 86.67%;
	margin: 6px -10000px 0px 0%;
}

#pppu239-6
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 35px;
	width: 23.55%;
	margin-left: 75.32%;
}

#ppu239-6
{
	width: 99.56%;
	margin-left: 0.45%;
}

#pu239-6
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 40.45%;
}

#u239-6
{
	z-index: 33;
	min-height: 44px;
	position: relative;
	width: 98.91%;
}

#u242-6
{
	z-index: 39;
	min-height: 34px;
	margin-top: 8px;
	position: relative;
	width: 98.91%;
	margin-left: 1.1%;
}

#pu248
{
	margin-right: -10000px;
	margin-top: 6px;
	width: 48%;
	margin-left: 52%;
}

#u248
{
	z-index: 45;
	position: relative;
	width: 57.41%;
	margin-left: 15.75%;
}

#u258-4
{
	z-index: 47;
	min-height: 20px;
	position: relative;
	width: 100%;
}

#u742
{
	z-index: 98;
	margin-top: 60px;
	position: relative;
	width: 79.21%;
	margin-left: 0.45%;
}

#u792-9
{
	z-index: 129;
	min-height: 34px;
	margin-top: 1px;
	position: relative;
	width: 78.77%;
}

#buttonu1738
{
	z-index: 166;
	padding-bottom: 6px;
	position: relative;
	width: 39.83%;
	margin-left: 20.8%;
}

#buttonu1738:hover
{
	min-height: 0px;
	width: 39.83%;
	margin: 0px 0px 0px 20.79646017699115%;
}

#buttonu1738:active
{
	min-height: 0px;
	width: 39.83%;
	margin: 0px 0px 0px 20.79646017699115%;
}

#u1739-4
{
	z-index: 167;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 86.67%;
	left: 6.67%;
}

#buttonu1738:hover #u1739-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 86.67%;
	margin: 6px -10000px 0px 0%;
}

#buttonu1738:active #u1739-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 86.67%;
	margin: 6px -10000px 0px 0%;
}

#u755
{
	z-index: 100;
	margin-top: 26px;
	position: relative;
	width: 79.65%;
}

#u798-9
{
	z-index: 147;
	min-height: 34px;
	position: relative;
	width: 79.65%;
}

#buttonu1726
{
	z-index: 161;
	padding-bottom: 5px;
	position: relative;
	width: 39.83%;
	margin-left: 20.8%;
}

#buttonu1738.ButtonSelected,#buttonu1726:hover
{
	min-height: 0px;
	width: 39.83%;
	margin: 0px 0px 0px 20.79646017699115%;
}

#buttonu1726:active
{
	min-height: 0px;
	width: 39.83%;
	margin: 0px 0px 0px 20.79646017699115%;
}

#buttonu1726.ButtonSelected
{
	min-height: 0px;
	width: 39.83%;
	margin: 0px 0px 0px 20.79646017699115%;
}

#u1727-4
{
	z-index: 162;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 86.67%;
	left: 6.67%;
}

#buttonu1726:hover #u1727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 86.67%;
	margin: 6px -10000px 0px 0%;
}

#buttonu1726:active #u1727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 86.67%;
	margin: 6px -10000px 0px 0%;
}

#buttonu1750.ButtonSelected #u1751-4,#buttonu1744.ButtonSelected #u1745-4,#buttonu1756.ButtonSelected #u1757-4,#buttonu1720.ButtonSelected #u1721-4,#buttonu1738.ButtonSelected #u1739-4,#buttonu1726.ButtonSelected #u1727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 85.56%;
	margin: 6px -10001px -1px 0%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-top: 15px;
	padding-bottom: 19px;
}

#u684_img,#u703_img,#u713_img,#u726_img,#u742_img,#u755_img
{
	width: 100%;
}

