.version.index /* version checker */
{
	color: #0000E6;
	background-color: #B469C3;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 756px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #F7CECC;
	margin-left: auto;
	margin-right: auto;
}

#pu107
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 34px;
	margin-left: 30px;
}

#u107
{
	z-index: 2;
	width: 155px;
	margin-left: 20px;
	position: relative;
}

#u117-4
{
	z-index: 4;
	width: 195px;
	min-height: 19px;
	margin-top: 7px;
	position: relative;
}

#menuu498
{
	z-index: 33;
	width: 142px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#u520
{
	width: 142px;
	position: relative;
}

#u521
{
	width: 142px;
	padding-bottom: 44px;
	position: relative;
	margin-right: -10000px;
}

#u521:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u521:active
{
	width: 142px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u522-4
{
	width: 142px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
}

#u521:hover #u522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u521:active #u522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u507
{
	width: 142px;
	padding-bottom: 44px;
	position: relative;
	margin-right: -10000px;
}

#u521.MuseMenuActive,#u507:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u507:active
{
	width: 142px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u509-4
{
	width: 142px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
}

#u521.MuseMenuActive #u522-4,#u507:hover #u509-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u507:active #u509-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u516
{
	width: 142px;
	padding-bottom: 43px;
	position: relative;
	margin-right: -10000px;
}

#u507.MuseMenuActive,#u516:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u516:active
{
	width: 142px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u519-4
{
	width: 142px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u507.MuseMenuActive #u509-4,#u516:hover #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u516:active #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u500
{
	width: 142px;
	padding-bottom: 43px;
	position: relative;
	margin-right: -10000px;
}

#u516.MuseMenuActive,#u500:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u500:active
{
	width: 142px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u502-4
{
	width: 142px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u516.MuseMenuActive #u519-4,#u500:hover #u502-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u500:active #u502-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u588
{
	width: 142px;
	padding-bottom: 43px;
	position: relative;
	margin-right: -10000px;
}

#u500.MuseMenuActive,#u588:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u588:active
{
	width: 142px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u591-6
{
	width: 142px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u588:hover #u591-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u588:active #u591-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u588.MuseMenuActive #u591-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u506,#u513,#u499,#u585,#u606
{
	width: 142px;
	margin-top: 2px;
	position: relative;
}

#u609
{
	width: 142px;
	padding-bottom: 43px;
	position: relative;
	margin-right: -10000px;
}

#u588.MuseMenuActive,#u609:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u609:active
{
	width: 142px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u609.MuseMenuActive
{
	width: 142px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u612-4
{
	width: 142px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
}

#u500.MuseMenuActive #u502-4,#u609:hover #u612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u609:active #u612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u609.MuseMenuActive #u612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#ppmenuu124
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 243px;
}

#pmenuu124
{
	width: 0.01px;
	margin-left: 30px;
}

#menuu124
{
	z-index: 8;
	width: 460px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u125
{
	width: 75px;
	min-height: 76px;
	position: relative;
	margin-right: -10000px;
}

#u126
{
	width: 75px;
	padding-bottom: 57px;
	position: relative;
}

#u126:hover
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u126:active
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u126.MuseMenuActive
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u129-4
{
	width: 55px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 28px;
	left: 10px;
}

#u126:hover #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u126:active #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u126.MuseMenuActive #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u170
{
	width: 108px;
	min-height: 76px;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u171
{
	width: 108px;
	padding-bottom: 57px;
	position: relative;
}

#u171:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u171:active
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u171.MuseMenuActive
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u172-4
{
	width: 88px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 28px;
	left: 10px;
}

#u171:hover #u172-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u171:active #u172-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u171.MuseMenuActive #u172-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u191
{
	width: 110px;
	min-height: 76px;
	position: relative;
	margin-right: -10000px;
	left: 187px;
}

#u194
{
	width: 110px;
	padding-bottom: 57px;
	position: relative;
}

#u194:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u194:active
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u194.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u196-4
{
	width: 91px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 28px;
	left: 9px;
}

#u194:hover #u196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u194:active #u196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u194.MuseMenuActive #u196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u212
{
	width: 161px;
	min-height: 76px;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u215
{
	width: 161px;
	padding-bottom: 57px;
	position: relative;
}

#u215:hover
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u215:active
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u215.MuseMenuActive
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u218-4
{
	width: 142px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 28px;
	left: 9px;
}

#u215:hover #u218-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u215:active #u218-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u215.MuseMenuActive #u218-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u1891
{
	z-index: 170;
	width: 128px;
	height: 127px;
	position: relative;
	margin-right: -10000px;
	left: 503px;
}

#u1891:hover
{
	width: 128px;
	height: 127px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1891:active
{
	width: 128px;
	height: 127px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1891.MuseLinkActive
{
	width: 128px;
	height: 127px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu684
{
	width: 0.01px;
	margin-top: 35px;
}

#u684
{
	z-index: 72;
	width: 180px;
	position: relative;
	margin-right: -10000px;
}

#u703
{
	z-index: 74;
	width: 178px;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u742
{
	z-index: 80;
	width: 179px;
	position: relative;
	margin-right: -10000px;
	left: 481px;
}

#pu783-9
{
	width: 0.01px;
	margin-top: 1px;
}

#u783-9
{
	z-index: 84;
	width: 180px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u789-9
{
	z-index: 102;
	width: 178px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u792-9
{
	z-index: 111;
	width: 178px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u2504
{
	z-index: 138;
	width: 572px;
	margin-left: 45px;
	position: relative;
}

#buttonu1750
{
	z-index: 149;
	width: 90px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#buttonu1750:hover
{
	width: 90px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1750:active
{
	width: 90px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1751-4
{
	z-index: 150;
	width: 78px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#buttonu1750:hover #u1751-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 78px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1750:active #u1751-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 78px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1744
{
	z-index: 144;
	width: 90px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#buttonu1750.ButtonSelected,#buttonu1744:hover
{
	width: 90px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1744:active
{
	width: 90px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1745-4
{
	z-index: 145;
	width: 78px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#buttonu1744:hover #u1745-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 78px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1744:active #u1745-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 78px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1738
{
	z-index: 139;
	width: 90px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 482px;
}

#buttonu1744.ButtonSelected,#buttonu1738:hover
{
	width: 90px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1738:active
{
	width: 90px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1739-4
{
	z-index: 140;
	width: 78px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#buttonu1738:hover #u1739-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 78px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1738:active #u1739-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 78px;
	margin: 6px -10000px 0px 0px;
}

#pu713
{
	width: 0.01px;
	margin-top: 26px;
}

#u713
{
	z-index: 76;
	width: 180px;
	position: relative;
	margin-right: -10000px;
}

#u726
{
	z-index: 78;
	width: 177px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 242px;
}

#u755
{
	z-index: 82;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u684 .clip_frame,#u703 .clip_frame,#u742 .clip_frame,#u713 .clip_frame,#u726 .clip_frame,#u755 .clip_frame
{
	-webkit-border-radius: 10px 0px 10px 0px;
}

#pu786-9
{
	width: 0.01px;
	margin-top: -1px;
}

#u786-9
{
	z-index: 93;
	width: 180px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u795-9
{
	z-index: 120;
	width: 178px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u798-9
{
	z-index: 129;
	width: 180px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 480px;
}

#u2508
{
	z-index: 154;
	width: 572px;
	margin-left: 45px;
	position: relative;
}

#buttonu1756
{
	z-index: 165;
	width: 90px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu1756:hover
{
	width: 90px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#buttonu1756:active
{
	width: 90px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u1757-4
{
	z-index: 166;
	width: 78px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#buttonu1756:hover #u1757-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 78px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1756:active #u1757-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 78px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1720
{
	z-index: 155;
	width: 90px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#buttonu1738.ButtonSelected,#buttonu1720:hover
{
	width: 90px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1720:active
{
	width: 90px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1720.ButtonSelected
{
	width: 90px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1721-4
{
	z-index: 156;
	width: 78px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#buttonu1720:hover #u1721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 78px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1720:active #u1721-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 78px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1726
{
	z-index: 160;
	width: 90px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 482px;
}

#buttonu1756.ButtonSelected,#buttonu1726:hover
{
	width: 90px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#buttonu1726:active
{
	width: 90px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#buttonu1726.ButtonSelected
{
	width: 90px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u1727-4
{
	z-index: 161;
	width: 78px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#buttonu1726:hover #u1727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 78px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1726:active #u1727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 78px;
	margin: 6px -10000px 0px 0px;
}

#buttonu1750.ButtonSelected #u1751-4,#buttonu1744.ButtonSelected #u1745-4,#buttonu1738.ButtonSelected #u1739-4,#buttonu1756.ButtonSelected #u1757-4,#buttonu1720.ButtonSelected #u1721-4,#buttonu1726.ButtonSelected #u1727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 77px;
	margin: 6px -10001px -1px 0px;
}

#u1927
{
	z-index: 171;
	min-height: 64px;
	padding-bottom: 12px;
}

#u1927_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u2528-4
{
	z-index: 172;
	width: 390px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 150px;
}

#u2532
{
	z-index: 176;
	width: 161px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 842px;
}

#u1930
{
	z-index: 177;
	width: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1940
{
	z-index: 179;
	width: 47px;
	position: relative;
	margin-right: -10000px;
	left: 57px;
}

#u1950
{
	z-index: 181;
	width: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 115px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1927-bw
{
	z-index: 171;
	min-height: 64px;
	margin-top: 41px;
}

.html
{
	background-color: #F7A3CC;
}

body
{
	position: relative;
	min-width: 960px;
}

.verticalspacer
{
	min-height: 167px;
}

