#u117-4
{
	background-color: transparent;
	line-height: 14px;
	color: #F81296;
	font-size: 12px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
}

#menuu124
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u126
{
	background-color: transparent;
	border-radius: 10px;
}

#u126:hover
{
	background-color: #FFD8FC;
}

#u126:active
{
	background-color: #FFACB8;
	border-radius: 10px;
}

#u129-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #F83B96;
	font-size: 16px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
}

#u171
{
	background-color: transparent;
	border-radius: 10px;
}

#u171:hover
{
	background-color: #FFD8FC;
}

#u171:active
{
	background-color: #FFACB8;
	border-radius: 10px;
}

#u172-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #F83B96;
	font-size: 16px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
}

#u194
{
	background-color: transparent;
	border-radius: 10px;
}

#u194:hover
{
	background-color: #FFD8FC;
}

#u194:active
{
	background-color: #FFACB8;
	border-radius: 10px;
}

#u196-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #F83B96;
	font-size: 16px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
}

#u125,#u170,#u191,#u212
{
	background-color: transparent;
}

#u215
{
	background-color: transparent;
	border-radius: 10px;
}

#u215:hover
{
	background-color: #FFD8FC;
}

#u215:active
{
	background-color: #FFACB8;
	border-radius: 10px;
}

#u126.MuseMenuActive,#u171.MuseMenuActive,#u194.MuseMenuActive,#u215.MuseMenuActive
{
	background-color: #FFD2FC;
}

#u218-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #F83B96;
	font-size: 16px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u239-6,#u242-6
{
	background-color: transparent;
	line-height: 18px;
	color: #F83B96;
	font-size: 15px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
}

#u107,#u248
{
	display: block;
	vertical-align: top;
}

#u258-4
{
	background-color: transparent;
	color: #F83B96;
	font-size: 14px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
}


